.menuBar {
  margin-bottom: 30px;
}

.card {
  height: 100%;
}

.likeButton {
  margin-right: 10px;
}

.register-form {
  width: 480px;
  margin: auto;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-top: 40px;
}

.register-form h1 {
  text-align: center;
}
